# macOS
.DS_Store

# Xcode
xcuserdata/
*.xcuserstate
DerivedData/
build/
*.moved-aside
*.xccheckout
*.xcscmblueprint

# Swift Package Manager
.build/
.swiftpm/
.superpowers/
AudiobooksTV/GoogleService-Info.plist
AudiobooksTV/GoogleTVClient.plist
